<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
      {% load static %}

    <!-- Bootstrap core CSS-->
    <link href="{% static '/info/bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static '/info/bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static '/info/bootstrap/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static '/info/bootstrap/css/sb-admin.css' %}" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->


      {% block css %}
      {% endblock %}

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand" href="http://bvicam.in/">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b8/GGSIU_logo.svg/1200px-GGSIU_logo.svg.png" alt="" width="50" height="40" class="d-inline-block align-text-top">
        Bharati Vidyapeeth College of Computer Applications and Management
      </a>

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>


    </nav>

    <div id="wrapper">


      <div id="content-wrapper">

        <div class="container-fluid">

            <div class="text-center h3 text-danger">
                You have been logged out!!
                <br><br>
                <a class="btn btn-success" href="/accounts/login">Login</a>
            </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- /.content-wrapper -->
        
    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">TOP
      <i class="fas fa-angle-up"></i>
    </a>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static '/info/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/info/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static '/info/bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static '/info/bootstrap/js/sb-admin.min.js' %}"></script>

   {% block scripts %}
    {% endblock %}
   
  </body>
<!-- Footer -->
<footer class="page-footer font-small black">
  <div class="footer-copyright text-center py-3 text-white-50 bg-dark">
    <h4>Contact Us</h4>
      <p>
  Bharati Vidyapeeth's Institute of Computer Applications and Management (BVICAM)<br>
  A-4, Paschim Vihar, Opp. Paschim Vihar (East) Metro Station,<br>
  Rohtak Road, New Delhi - 110063<br>
  Phone : +91 - 11 - 25275055<br>
  Fax : +91 - 11 - 25255056<br>
  Mobile : +91 - 9212022066<br>
  Email : mca@bvicam.ac.in; mca.hoda@gmail.com<br>
  Website : http://www.bvicam.ac.in/<br>
      </p>
  </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white-50 bg-dark">© 2022 Made By:
      <a href="https://github.com/tanya-johari"> Tanya Johari</a>
      <a href="https://github.com/lavi-chadha"> Lavi Chadha</a>
      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

</html>
